<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/public/css/style.css">
    <title>Document</title>
</head>
<body>
    <div class="form_admin">
        <form action="/entry" method="POST">
            <fieldset>
                <legend>Add New entry</legend>
                <input type="text" name="name" placeholder="New task name" required>
                <input type="text" name="description" placeholder="New task description" required>
                <input type="date" name="date" required>
                <button type="submit">Add Entry</button>
            </fieldset>         
        </form>
    </div>
</body>
</html>